# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/

# Jupyter & Colab
.ipynb_checkpoints/
*.ipynb
*.nbconvert.*
.env
.DS_Store

# Model & ONNX
*.onnx
*.dlc
*.bin
*.pth
*.pt

# Log files
*.log
*.tmp
*.swp

# Dataset & Exported Data
*.csv
*.pdf
*.xlsx

# IDE settings
.vscode/
.idea/

# PyQt UI builds
*.ui

# Visual Studio temporary files
.vs/

# ignore UI build artifacts
src/ui/AnoniMe/obj/
src/ui/AnoniMe/bin/

.reports/
.pytest-html

# 自动生成的 Visual Studio/.NET 文件建议忽略
*.props
*.dgpspec.json
...
obj/
bin/
