# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/

# Data
data/processed/

# Models 與編譯後檔
models/
edge_models/

# Jupyter & Colab
.ipynb_checkpoints/
*.ipynb
*.nbconvert.*
.env
.DS_Store

# Model & ONNX
*.onnx
*.dlc
*.bin
*.pth
*.pt

# Log files
*.log
*.tmp
*.swp

# Dataset & Exported Data
data/raw/
data/processed/
*.csv
*.pdf
*.xlsx

# IDE settings
.vscode/
.idea/

# PyQt UI builds
*.ui
