transformers>=4.40.0
optimum[onnxruntime-gpu]==1.17.0
datasets>=4.0.0
sentencepiece>=0.2.0
pytest
sentencepiece>=0.2.0
torch
torchtext
faker>=37.4.2
typer>=0.16.0
pytest
rich>=14.0.0
easyocr
opencv-python
pyyaml>=6.0.2
opencv-python
Pillow
python-docx
PyMuPDF
beautifulsoup4
lxml
reportlab
pandas
openpyxl
xlsxwriter
python-pptx
transformers
torch
optimum[onnxruntime]
spacy>=3.5,<3.6
jieba>=0.42.1,<0.43

